<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>Storno</title>
    <style>
      h1, h2, h3 {
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: #fff;">
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
      <h1 class="mt-5 mb-5">Buchung stornieren / Cancel reservation / إلغاء الحجز</h1>
      <p>Bitte bestätigen, dass die Buchung storniert werden soll.</p>
      <p>Please confirm, that the reservation should be cancelled.</p>
      <p>يرجى تأكيد وجوب إلغاء الحجز.</p>
      <a href="/cancel/confirm/{{ token }}" class="btn btn-warning mt-5 mb-5">Buchung stornieren / Cancel reservation / إلغاء الحجز</a>
    </div>
  </body>
</html>
