<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <title>Wähle einen Termin und Ort</title>
    <style>
      h1, h2, h3 {
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: #fff;">
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
    <h1 class="mt-5 mb-5">Bitte wähle eine der Veranstaltungen</h1>
    {% if events %}
    {% for event in events %}
    <h2 class="mt-5"><a href="/{{ event.id }}">{{ event.title }}</a></h2>
    <p>🕑 Datum: {{ event.date }}</p>
    <p>📍 Ort: {% if event.location_link %}<a href="{{ event.location_link}}">{% endif %}{{ event.location }}{% if event.location_link %}</a>{% endif %}</p>
    {% endfor %}
    </ul>
    {% else %}
    {% endif %}
  </body>
</html>
